* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f7fa;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    max-width: 250px;
    max-height: 250px;
}

h1,
h2 {
    font-family: "Orbitron", sans-serif;
    color: #394867;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

img {
    max-width: 250px;
    max-height: 250px;
}



ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

}

li {
    display: inline-block;
    margin: 0 40px;
}

.welcome {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    letter-spacing: 0.25rem;
}

.about-me {
    display: flex;
    justify-content: center;    
    align-items: center;   
    text-align: center;   
    margin-top: 50px;
    padding: 20px;
}

.two-column-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 800px;   
    width: 100%;   
    text-align: left;
}

.about-me-para {
    margin-top: 20px;
    color: hsl(221, 29%, 21%);
}

.para-middle{
    padding-top: 10px;
    padding-bottom: 10px;

}

h2 {   
    text-align: center;
    letter-spacing: 0.2rem;
}

.profile-pic {
    border-radius: 40% 60% 40% 60% / 58% 60% 40% 42%;    
}

.project-wrapper {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.project-wrapper h2 {
    margin-bottom: 20px;  
    font-size: 2rem;   
    letter-spacing: 0.2rem;    
}


.three-column-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    max-width: 1000px;   
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    border: 1px solid lab(71.43% 2.33 -6.12);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 5px  lch(80.24% 0.01 296.81);
}

.card p{
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #394867;
    margin-top: 10px;
    text-align: center;
}

.card img {
    width: 250px;
    width: 100%;
    height: 250px;
    border-radius: 10px;

}

h3 {
    font-family: "Orbitron", sans-serif;
    font-size: 1rem;
    color: #394867;
    margin-top: 10px;
}

.button{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #394867;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.button:hover {
    background-color: #2a2d34;
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #394867;
    color: #fff;
}

.ribbon {
    position: absolute;
    top: 10px;
    left: -10px;
    background: #ff5733; /* Ribbon color */
    color: white;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: bold;
    transform: rotate(-45deg); /* Creates angled effect */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  .card-new {
    position: relative;
    border: 1px solid lab(71.43% 2.33 -6.12);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 5px  lch(80.24% 0.01 296.81);
    font-family: "Orbitron", sans-serif;
}
  



@media screen and (max-width: 768px) {
    .two-column-layout {
        grid-template-columns: 1fr;
       
    }

    @media screen and (max-width: 768px) {
        .about-me {
            flex-direction: column;           
            align-items: center;
            text-align: center;            
        }

        .profile-pic {
            margin-bottom: 20px;
            display: block;            
            margin-left: auto;          
            margin-right: auto;           
        }
    }

    .about-me-para {
        margin-top: 0;       
    }

    .project-wrapper {
        flex-direction: column;       
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 50px;
    }
    .project-wrapper h2 {
        margin-bottom: 20px;        
        font-size: 2rem;       
        letter-spacing: 0.2rem;
        
    }
    .three-column-layout {
        grid-template-columns: 1fr; 
        gap: 20px; 
        padding: 0 20px; 
        box-sizing: border-box; 
    }

    .card {
        width: 100%; 
       
    }
    .card img {
        width: 100%;       
        height: auto;
        
    }

}